<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="masters">
  <ion-card class="card">
  <p>Please select the View button if you wish to view your saved Details</p>
   <form [formGroup]="petparentForm"(ngSubmit)="onFormSubmit(petparentForm.value)">  
       <table class="table" >   
                    <tr *ngFor="let petparent of allPetParents | async">  
                      <td class="tbl2">{{petparent.Name}}</td>  
                      
                      <td class="tbl2">  
                        <button type="button" class="btn btn-info"matTooltip="Click Edit Button"(click)="loadPetParentToEdit(petparent.PetParentID)" mat-raised-button color="accent">View</button>  
                      </td>   
                    </tr>    
                  </table>  
 
                    <input formControlName="Name" matTooltip="Enter PetParent Name" matInput placeholder="Saved Name">  

                  <mat-error>  
                    <span  *ngIf="!petparentForm.get('Name').value && petparentForm.get('Name').touched"></span>  
                  </mat-error>  

                    <input formControlName="Surname" matTooltip="Enter PetParent Contact Cellnumber" matInput placeholder="Saved Surname">  

                  <mat-error>  
                    <span  *ngIf="!petparentForm.get('Surname').value && petparentForm.get('Surname').touched"></span>  
                  </mat-error>  
               

                    <input formControlName="EmailAddress" matTooltip="Enter PetParent Email Address" matInput placeholder="Saved Email">  

                  <mat-error>  
                    <span *ngIf="!petparentForm.get('EmailAddress').value && petparentForm.get('EmailAddress').touched"></span>  
                  </mat-error>  
                
 
                      <input formControlName="PhoneNr" matTooltip="Enter cellphone number" matInput placeholder="Saved Contact number">  

                    <mat-error>  
                      <span  *ngIf="!petparentForm.get('PhoneNr').value && petparentForm.get('PhoneNr').touched"></span>  
                    </mat-error>  
                  

                          <input formControlName="ParentAddress" matTooltip="Enter address" matInput placeholder="Saved Pysical Address">  

                        <mat-error>  
                          <span  *ngIf="!petparentForm.get('ParentAddress').value && petparentForm.get('ParentAddress').touched"></span>  
                        </mat-error>  
              
                         <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success" align="left">  
                            {{massage}}  
                          </p>  
                
                  <button type="submit" mat-raised-button color="accent"matTooltip="Click Submit Button"[disabled]="!petparentForm.valid">Submit</button>  
                  <button type="reset" mat-raised-button color="accent"matTooltip="Click Reset Button" (click)="resetForm()">Reset</button>  
                 
                  
    </form>  
  </ion-card>
  </ion-content>  


