<div>
    <table>
        <caption><b>Criteria List</b></caption>
        <tr>
            <td>Criteria 1</td>
            <td><button id="button" style="border: 1px solid gray;">
                    <img src="./assets/verify.png" style="width:30px; height:30px" title="Add" />
                </button>
            </td>
        </tr>
        <tr>
            <td>Criteria 2</td>
            <td>
                <button id="button" style="border: 1px solid gray;">
                    <img src="./assets/verify.png" style="width:30px; height:30px" title="Add" />
                </button>
            </td>
        </tr>
    </table>

    <br /><br />

    <table>
        <caption>New Criteria</caption>
        <tr>
            <td><input type="text" id="textbox" name="fname"></td>
            <td><button id="button" style="border: 1px solid gray;">
                    <img src="./assets/create.png" style="width:30px; height:30px" title="Add" />
                </button>
            </td>
        </tr>
    </table>
</div>